<footer class="footer hidden-xs">
    <div class="footer__top">
        <div class="container">
            <div class="col-xs-12 col-md-6">
                <h3>
                    En savoir plus sur streetwars.paris
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

            <div class="col-xs-12 col-md-3">
                <h3>
                    Gardons le contact
                </h3>

                <ul class="footer__top__links">
                    <li>
                        <a href="#" target="_blank">
                            <span class="footer-social" style="background: #3b5998;">
                                <i class="fa fa-facebook"></i>
                            </span>

                            streetwars.paris sur Facebook
                        </a>
                    </li>

                    <li>
                        <a href="#" target="_blank">
                            <span class="footer-social" style="background: #00aced;">
                                <i class="fa fa-twitter"></i>
                            </span>

                            Suivez-nous sur Twitter
                        </a>
                    </li>

                    <li>
                        <a href="#" target="_blank">
                            <span class="footer-social" style="background: #dd4b39;">
                                <i class="fa fa-google"></i>
                            </span>

                            Ajoutez-nous sur Google+
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-3">
                <h3>
                    Information &amp; contact
                </h3>

                <ul class="footer__top__links">
                    <li>
                        <span class="footer-social">
                            <i class="fa fa-envelope-o"></i>
                        </span>

                         <a href="mailto:contact@ayno.net?subject=contact ayno" target="_blank">Nous contacter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="col-xs-12 col-md-6">
                © 2017 streetwars.paris. All rights reserved
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="text-right">
                    <a href="mailto:?subject=aide">Besoin d'aide ?</a>
                </div>
            </div>
        </div>
    </div>
</footer>
