<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                Menu <i class="fa fa-bars"></i>
            </button>

            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('assets/f/img/logo-w.png') }}" alt="le jeu de vianney" title="le jeu de vianney">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>

                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>

                {{ render(controller('AppBundle:User:menu')) }}
            </ul>
        </div>
    </div>
</nav>
