{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <img src="{{ asset('assets/f/img/logo.png') }}" alt="le jeu de vianney" title="le jeu de vianney" style="width: 500px; max-width: 100%;">
                        <hr class="star-light">
                        <span class="skills">Un jeu avec des gens et des codes magiques</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
