<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}StreetHunt{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/f/css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=1" />
    </head>
    <body id="page-top-blank" class="index" cz-shortcut-listen="true">

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/f/js/main.js') }}"></script>
    </body>
</html>
