{% extends 'front/layout.html.twig' %}

{% block leftside %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        {{ render(controller('AppBundle:Front/SessionUser:minicard')) }}
        {{ render(controller('AppBundle:Front/User:miniprofil')) }}
    </div>
{% endblock %}

{% block body %}
    <div class="col-xs-12 col-sm-6 col-md-6">
        {{ render(controller('AppBundle:Front/Session:details')) }}
    </div>
{% endblock %}

{% block rightside %}

{% endblock %}


