<div class="box">
    <h2 class="box-title">
        Actualités
    </h2>

    <div class="box-content">
    	<ul class="actuality-list">
    		<li class="actuality-item">

				<div class="actuality-item__date">
					14 Avril 2017 - 14:00
				</div>

				<div class="actuality-item__title">
					Lorem ipsum dolor sit amet, consectetur adipisicing
				</div>

				<div class="actuality-item__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore ...
				</div>
    		</li>

    		<li class="actuality-item">

				<div class="actuality-item__date">
					14 Avril 2017 - 14:00
				</div>

				<div class="actuality-item__title">
					Lorem ipsum dolor sit amet
				</div>

				<div class="actuality-item__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore ...
				</div>
    		</li>

    		<li class="actuality-item">

				<div class="actuality-item__date">
					14 Avril 2017 - 14:00
				</div>

				<div class="actuality-item__title">
					Lorem ipsum dolor sit amet, consectetur
				</div>

				<div class="actuality-item__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore ...
				</div>
    		</li>

    		<li class="actuality-item">

				<div class="actuality-item__date">
					14 Avril 2017 - 14:00
				</div>

				<div class="actuality-item__title">
					Lorem ipsum dolor sit amet, consectetur adipisicing
				</div>

				<div class="actuality-item__content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore ...
				</div>
    		</li>
    	</ul>

    	<a href="#" class="btn btn-default btn-xs btn-block">
    		voir plus
    	</a>
    </div>
</div>
