/* COLORS DARK */

/*$background-body: #2b3e50;*/
$background-body: radial-gradient(ellipse at center, #10456C 0%, #0d4167 100%);

$background-well: #343434;
$color-well: #fff;

$background-panel-heading: $background-well;
$background-panel-footer: #404040;
$background-panel: #404040;
$color-panel: #fff;
$color-link: $color-primary;
$color-link-over: lighten($color-primary, 10%);
$color-gray: #505458;
$color-flask: #fff;
