
$color-primary: #20B8F6;
$color-default: #2D2D2D;
$color-dark: darken($color-default, 10%);
$color-success: #5cb85c;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-info: #5bc0de;
$color-gray: #aaa;
$color-dark-gray: darken($color-gray, 10%);
$color-light-gray: #ececec;
$color-yellow: #FFB810;
$color-orange: #f60;
$color-red: #f00;
